<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Каталог товаров</title>
</head>

<body>
  
  {{> menu}}

  <h1>Список товаров</h1>
  <div class="container">
    {{table}}
  </div>
</body>