<a class="product" href="{{href}}">
    <div class="product-img">
        <img src="/img/{{img}}" alt="">
    </div>
    <div>
        <p class="product-title">{{name}}</p>
        <p class="product-price">{{price}} ₽</p>
    </div>
</a>